.Box {
    margin: 20px;
    float: left;
    position: relative;
    /* don't need redundancy since you have defaults for styles in componnent file */
}

.BoxHolder {
    /* padding: 2px; */
    border-radius: 5px;
}

.BoxButton {
    float: right;
}